	</body>
  	<script type='text/javascript' src='/javascripts/bootstrap.js'></script>
  	<script type='text/javascript' src='/javascripts/slides.js'></script>
  	<script type='text/javascript' src='/javascripts/scripts.js'></script>
</html>